<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 要启用不同的注解需要注册不同的Processor，但可以统一只注册下面这句 -->
<context:annotation-config/>

<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>   -->

<!-- 基本的依赖注入 -->
<bean id="teacher" class="com.univ.ioc.Teacher">
	<property name="name" value="teacherName" />
	<property name="age" value="23" />
</bean>
<bean id="student" class="com.univ.ioc.Student">
	<property name="name" value="studentName" />
	<property name="age" value="10" />
<!-- 	<property name="teacher" ref="teacher" /> -->
</bean>

<!-- 这里的id必须为messageSource,经验证其实并非如此 -->
<bean id="messageSource"
	class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basenames">
		<list>
			<value>messages</value><!-- 此时系统假设在类路径下有一个messages.properties文件 -->
		</list>
	</property>
	<property name="defaultEncoding" value="utf-8" /><!-- 这样就可以在messages.properties中使用中文 -->
</bean>



</beans>